<!-- Static sidebar for desktop -->
<div class="hidden lg:fixed lg:inset-y-0 lg:z-50 lg:flex lg:w-60 lg:flex-col">
  <!-- Sidebar component, swap this element with another sidebar if you like -->
  <div class="flex grow flex-col gap-y-5 overflow-y-auto border-r border-gray-200 bg-white px-6 pb-4">
    <div class="flex h-16 shrink-0 items-center">
      <img width="74" alt="" src="https://assets-global.website-files.com/5e22ee83945b291dda537381/5e6384f608b013589c4f2469_logo.png">
    </div>
    <nav class="flex flex-1 flex-col">
      <ul role="list" class="flex flex-1 flex-col gap-y-7">
        <!--li>
          <div class="relative my-2 flex items-center">
            <button type="button" class="inline-flex items-center w-200 gap-x-1.5 rounded-lg bg-white px-2.5 py-2 text-sm font-semibold text-gray-700 shadow-sm ring-1 ring-inset ring-gray-300 hover:bg-gray-50">
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
              </svg>
              Search
            </button>
          </div>
        </li-->
        <li>
          <div class="text-xs font-semibold leading-6 text-gray-400">All</div>
          <ul role="list" class="-mx-2 mt-2 space-y-1 source-sidebar">
            <li>
              <!-- Current: "bg-gray-50 text-emerald-600", Default: "text-gray-700 hover:text-emerald-600 hover:bg-gray-50" -->
              <a href="/bower" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/bower.svg" width="25px"/>
                <span class="truncate">Bower</span>
              </a>
            </li>
            <li>
              <a href="/cargo" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/cargo.svg" width="25px"/>
                <span class="truncate">Cargo</span>
              </a>
            </li>
            <li>
              <a href="/carthage" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/carthage.svg" width="22px" style="margin-left: 2px;"/>
                <span class="truncate">Carthage</span>
              </a>
            </li>
            <li>
              <a href="/clojars" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/clojars.svg" width="22px" style="margin-left: 1px;"/>
                <span class="truncate">Clojars</span>
              </a>
            </li>
            <li>
              <a href="/cocoapods" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/cocoapods.svg" width="23px"/>
                <span class="truncate">Cocoapods</span>
              </a>
            </li>
            <li>
              <a href="/conda" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/conda.svg" width="24px"/>
                <span class="truncate">Conda</span>
              </a>
            </li>
            <li>
              <a href="/cpan" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/cpan.jpg" width="22px" style="margin-left: 1px;"/>
                <span class="truncate" style="margin-left: 1px;">CPAN</span>
              </a>
            </li>
            <li>
              <a href="/cran" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/cran.jpg" width="22px" style="margin-left: 1px;"/>
                <span class="truncate" style="margin-left: 1px;">CRAN</span>
              </a>
            </li>
            <li>
              <a href="/dub" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/dub.png" width="22px"/>
                <span class="truncate" style="margin-left: 1px;">Dub</span>
              </a>
            </li>
            <li>
              <a href="/elm" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/elm.svg" width="20px" style="margin-left: 1px;"/>
                <span class="truncate" style="margin-left: 2px;">Elm</span>
              </a>
            </li>
            <li>
              <a href="/go" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/go.svg" width="25px" style="margin-left: -1px;"/>
                <span class="truncate">Go</span>
              </a>
            </li>
            <li>
              <a href="/hackage" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/hackage.svg" width="20px" style="margin-left: 2px;"/>
                <span class="truncate" style="margin-left: 2px;">Hackage</span>
              </a>
            </li>
            <li>
              <a href="/haxelib" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/haxelib.svg" width="20px" style="margin-left: 1px;"/>
                <span class="truncate" style="margin-left: 2px;">Haxelib</span>
              </a>
            </li>
            <li>
              <a href="/hex" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/hex.png" width="23px" style="margin-left: 1px;"/>
                <span class="truncate" style="margin-left: -0.5px;">Hex</span>
              </a>
            </li>
            <li>
              <a href="/homebrew" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/homebrew.svg" width="26px" style="margin-left: -1px;"/>
                <span class="truncate" style="margin-left: -1px;">Homebrew</span>
              </a>
            </li>
            <li>
              <a href="/julia" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/julia.svg" width="23px"/>
                <span class="truncate">Julia</span>
              </a>
            </li>
            <li>
              <a href="/maven" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/maven.svg" width="26px" style="margin-left: -1px;"/>
                <span class="truncate" style="margin-left: -1px;">Maven</span>
              </a>
            </li>
            <li>
              <a href="/meteor" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/meteor.svg" width="25px"  style="margin-left: -1px;"/>
                <span class="truncate">Meteor</span>
              </a>
            </li>
            <li>
              <a href="/nimble" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/nimble.svg" width="23px" />
                <span class="truncate" style="margin-left: 1px;">Nimble</span>
              </a>
            </li>
            <li>
              <a href="/npm" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/npm.svg" width="21px" style="margin-left: 2px;"/>
                <span class="truncate" style="margin-left: 1px;">NPM</span>
              </a>
            </li>
            <li>
              <a href="/nuget" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/nuget.svg" width="25px"/>
                <span class="truncate">NuGet</span>
              </a>
            </li>
            <li>
              <a href="/packagist" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/packagist.png" width="25px" style="margin-left: -1px;"/>
                <span class="truncate">Packagist</span>
              </a>
            </li>
            <li>
              <a href="/pub" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/pub.png" width="20px"/>
                <span class="truncate" style="margin-left: 4px;">Pub</span>
              </a>
            </li>
            <li>
              <a href="/puppet" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/puppet.svg" width="25px" style="margin-left: -1px;"/>
                <span class="truncate">Puppet</span>
              </a>
            </li>
            <li>
              <a href="/purescript" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/purescript.svg" width="24px"/>
                <span class="truncate">PureScript</span>
              </a>
            </li>
            <li>
              <a href="/pypi" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/pypi.svg" width="23px"/>
                <span class="truncate">PyPi</span>
              </a>
            </li>
            <li>
              <a href="/racket" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/racket.svg" width="24px" style="margin-left: -1px;"/>
                <span class="truncate">Racket</span>
              </a>
            </li>
            <li>
              <a href="/rubygems" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/rubygems.svg" width="22px" style="margin-left: 1px;"/>
                <span class="truncate">Rubygems</span>
              </a>
            </li>
            <li>
              <a href="/swiftpm" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <img src="/assets/images/swift_pm.svg" width="25px"/>
                <span class="truncate">SwiftPM</span>
              </a>
            </li>
          </ul>
        </li>
        <li>
          <div class="text-xs font-semibold leading-6 text-gray-400">Browse</div>
          <ul role="list" class="-mx-2 mt-2 space-y-1 source-sidebar">
            <li>
              <a href="/tags" class="text-gray-700 hover:text-emerald-600 hover:bg-gray-50 group flex gap-x-3 rounded-md p-2 text-sm leading-6 font-semibold">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-5">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M5.25 8.25h15m-16.5 7.5h15m-1.8-13.5-3.9 19.5m-2.1-19.5-3.9 19.5" />
                </svg>
                <span class="truncate">Tags</span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</div>
