<% navbar_selected = "border-emerald-500 text-emerald-600" %>
<% navbar_unselected = "border-transparent text-gray-500 hover:border-gray-300 hover:text-gray-700" %>

<!DOCTYPE html>
<html class="h-full bg-white" lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Harana Search</title>
  <link rel="stylesheet" href="/assets/highlightjs.css">
  <link rel="stylesheet" href="/assets/main.css">
  <link rel="stylesheet" href="/assets/readme.css">
  <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body class="h-full">
  <!-- Off-canvas menu for mobile, show/hide based on off-canvas menu state. -->
  <div class="relative z-50 lg:hidden" role="dialog" aria-modal="true">
    <!--
      Off-canvas menu backdrop, show/hide based on off-canvas menu state.

      Entering: "transition-opacity ease-linear duration-300"
        From: "opacity-0"
        To: "opacity-100"
      Leaving: "transition-opacity ease-linear duration-300"
        From: "opacity-100"
        To: "opacity-0"
    -->
    <div class="fixed inset-0 bg-gray-900/80"></div>

    <div class="fixed inset-0 flex">
      <!--
        Off-canvas menu, show/hide based on off-canvas menu state.

        Entering: "transition ease-in-out duration-300 transform"
          From: "-translate-x-full"
          To: "translate-x-0"
        Leaving: "transition ease-in-out duration-300 transform"
          From: "translate-x-0"
          To: "-translate-x-full"
      -->
      <div class="relative mr-16 flex w-full max-w-xs flex-1">
        <!--
          Close button, show/hide based on off-canvas menu state.

          Entering: "ease-in-out duration-300"
            From: "opacity-0"
            To: "opacity-100"
          Leaving: "ease-in-out duration-300"
            From: "opacity-100"
            To: "opacity-0"
        -->
        <div class="absolute left-full top-0 flex w-16 justify-center pt-5">
          <button type="button" class="-m-2.5 p-2.5">
            <span class="sr-only">Close sidebar</span>
            <svg class="h-6 w-6 text-white" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
              <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
            </svg>
          </button>
        </div>

        <!-- Sidebar component, swap this element with another sidebar if you like -->
        <div class="flex grow flex-col gap-y-5 overflow-y-auto bg-white px-6 pb-4">
          <div class="flex h-4 pt-8 shrink-0 items-center">
            <img width="74" alt="" src="https://assets-global.website-files.com/5e22ee83945b291dda537381/5e6384f608b013589c4f2469_logo.png">
          </div>
        </div>
      </div>
    </div>
  </div>

  <%= ERB.new(File.read('app/assets/harana/templates/_sidebar.html.erb'), eoutvar: '_sub01').result(binding) %>

  <div class="lg:pl-60">
    <main>
      <header class="relative isolate">
        <div class="absolute inset-0 -z-10 overflow-hidden" aria-hidden="true">
          <div class="absolute left-16 top-full -mt-16 transform-gpu opacity-50 blur-3xl xl:left-1/2 xl:-ml-80">
            <div class="aspect-[1154/678] w-[72.125rem] bg-gradient-to-br from-[#00d062] to-[#9089FC]" style="clip-path: polygon(100% 38.5%, 82.6% 100%, 60.2% 37.7%, 52.4% 32.1%, 47.5% 41.8%, 45.2% 65.6%, 27.5% 23.4%, 0.1% 35.3%, 17.9% 0%, 27.7% 23.4%, 76.2% 2.5%, 74.2% 56%, 100% 38.5%)"></div>
          </div>
          <div class="absolute inset-x-0 bottom-0 h-px bg-gray-900/5"></div>
        </div>

        <div class="mx-auto px-8 py-10 sm:px-6 lg:px-8">
          <div class="mx-auto flex max-w-2xl px-4 items-center justify-between gap-x-8 lg:mx-0 lg:max-w-none">
            <div class="flex items-center gap-x-6">
              <h1>
                <div class="allow-select text-3xl font-bold tracking-tight text-gray-700 sm:text-3xl">Tags</div>
              </h1>
            </div>
          </div>
        </div>
        <div class="lg:pl-12">
          <div class="sm:hidden">
            <label for="tabs" class="sr-only">Select a tab</label>
            <!-- Use an "onChange" listener to redirect the user to the selected tab URL. -->
            <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-emerald-500 focus:outline-none focus:ring-emerald-500 sm:text-sm">
              <option>My Account</option>
              <option>Company</option>
              <option selected>Team Members</option>
              <option>Billing</option>
            </select>
          </div>
        </div>
      </header>

      <div class="overflow-scroll mx-auto px-12 py-12" style="height: calc(100vh - 120px);">
        <div class="mx-auto grid max-w-2xl grid-cols-2 grid-rows-1 items-start gap-x-8 gap-y-8 lg:mx-0 lg:max-w-none lg:grid-cols-2">
          <div class="tags-list">
            <% RepositoryKeyword.unique_keywords.each do |keyword| %>
              <span class="items-center rounded-md mr-1 bg-gray-50 px-2 py-1 text-xs font-medium text-gray-600 ring-1 ring-inset ring-gray-500/10">
                <a href="/tags/<%= keyword %>.html"><%= keyword %></a>
              </span>            
            <% end %>
          </div>
        </div>
      </div>
    </main>
  </div>
</body>
</html>